<footer id="footer-wrapper">
    <div id="copyright" class="container">
        <ul class="menu">
            <li>&copy; 2021 AKARE COPY AND DESIGN CENTER NOT YÜKLEME SİSTEMİ</li>
            <li>TÜM HAKLARI SAKLIDIR</li>
        </ul>
    </div>
</footer>