<header id="header-wrapper" class="container fluid">
    <div id="header" class="row">
        <!-- Social Media Icons -->
        <div class="socialContainer col-3 forDesktop">
            @*<a href="https://twitter.com/" target="_blank">
                <img src="assets/img/twitter.png" alt="A2 Copy Center Twitter">
            </a>
            <a href="https://www.facebook.com/A2-Copy-Design-Center-388431598210923/" target="_blank">
                <img src="assets/img/facebook.png" alt="A2 Copy Center Facebook">
            </a>*@
            <a href="https://www.instagram.com/a2copy/" target="_blank">
                <img src="assets/img/instagram.png" alt="A2 Copy Center Instagram">
            </a>
        </div>
        <!-- Logo -->
        <h1 id="logo" class="col-6 col-12-mobile">
            <a href="" class="col-12">
                <img src="assets/img/a2Logo.png" alt="A2 Copy Center">
                <span class="col-12 logoText">"NOT YÜKLEME SİSTEMİ"</span>
            </a>
        </h1>
        <!-- Language Options -->
       @* <div class="languageContainer col-3 forDesktop">
            <span class="tr selected">
                tr
            </span>
            <span>-</span>
            <span class="en">
                en
            </span>
        </div>*@
    </div>
</header>