@inherits LayoutComponentBase
<div class="page-wrapper">
    <Header />
    <div class="wrapper">
        <div class="container fluid" id="main">
            <div class="row">
                <div class="col-4 col-12-narrower" id="sidebar">
                    <Sidebar />
                    <div class="col-8 col-12-narrower" id="rightMain">
                       @Body
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        @* <div class="sidebar" style="background-image: linear-gradient(180deg, rgb(24 75 154) 0%, #464242 70%) !important;z-index: 3;">
    <NavMenu />
    </div>

    <div class="main">
    <div class="top-row px-4">
    <AuthorizeView>
    <Authorized>
    <a href="logout" class="ml-md-auto text-dark">@email / @roleName</a>
    </Authorized>
    </AuthorizeView>
    </div>

    <div class="content px-4">
    @Body
    </div>
    </div>
    </div>*@


        @code { [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private string email;

    private string roleName = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authstate = await AuthState;

        if (authstate.User.Identity.IsAuthenticated)
        {
            email = authstate.User.FindFirst(System.Security.Claims.ClaimTypes.Email).Value;

            roleName = authstate.User.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
        }

    } }
