@inherits LayoutComponentBase
<div class="page-wrapper">
    <Header />
    <div class="wrapper line-top">
        <div class="container fluid" id="main">
            <div class="row">
                <div class="col-4 col-12-mobile" id="sidebar">
                    <Sidebar />
                </div>
                <div class="col-8 col-12-mobile" id="rightMain">
                    @Body
                </div>
            </div>
        </div>
    </div>
    <Footer />
</div>

@code {


    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private string email;

    private string roleName = String.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authstate = await AuthState;

        if (authstate.User.Identity.IsAuthenticated)
        {
            email = authstate.User.FindFirst(System.Security.Claims.ClaimTypes.Email).Value;

            roleName = authstate.User.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
        }

    }


}
