    <!-- Sidebar -->
    <section id="adminPanel">
        <div class="adminTitle">
            KONTROL PANELİ
        </div>
        <div class="adminName">
            Sn. Doç Dr. Tacim Hoylu
        </div>
        <div class="adminButtons">
            <a href="" class="button">Not Ekle</a>
            <button id="messageSend" class="button">Yönetici ile İletişime Geç</button>
        </div>
    </section>