@page "/note/notes"

<div class="categoryWrapper">
    <div class="categoryTitle">
        BÖLÜMLER
    </div>
    <div class="row aln-middle">
        <div class="categories col-8 col-12-mobile">
            <a href="" class="button col-3 col-6-mobile">ARKEOLOJİ</a>
            <a href="" class="button col-3 col-6-mobile">ARKEOLOJİ</a>
            <a href="" class="button col-3 col-6-mobile">ARKEOLOJİ</a>
            <a href="" class="button col-3 col-6-mobile">ARKEOLOJİ</a>
            <a href="" class="button col-3 col-6-mobile">TARİH</a>
            <a href="" class="button col-3 col-6-mobile">TARİH</a>
            <a href="" class="button col-3 col-6-mobile">TARİH</a>
            <a href="" class="button col-3 col-6-mobile">TARİH</a>
            <a href="" class="button col-3 col-6-mobile">TIP</a>
            <a href="" class="button col-3 col-6-mobile">TIP</a>
            <a href="" class="button col-3 col-6-mobile">TIP</a>
            <a href="" class="button col-3 col-6-mobile">TIP</a>
        </div>
        <div class="col-4 newCategory col-12-mobile">
            <a href="" class="button new">BÖLÜM EKLE</a>
        </div>
    </div>
</div>
<!-- DataTable 1 -->
<a style="padding-right: 20%;border-bottom: 1px solid #650f52;margin: 12px;">DOSYA YÜKLEME GEÇMİŞİ</a>
<div class="dataTableWrapper">
    <table id="examplee" class="display default second-data-table" style="width:100%">
        <thead>
            <tr>
                <th>DOSYA İSMİ</th>
                <th>BOYUT</th>
                <th>SINIF</th>
                <th>DÖNEM</th>
                <th>KATEGORİ</th>
                <th>YÜKLENME TARİHİ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2012/03/29</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>33</td>
                <td>2008/11/28</td>
                <td>$162,700</td>
            </tr>
            <tr>
                <td>Brielle Williamson</td>
                <td>Integration Specialist</td>
                <td>New York</td>
                <td>61</td>
                <td>2012/12/02</td>
                <td>$372,000</td>
            </tr>
        </tbody>
    </table>
</div>
