


<textarea type="text" name="name" id="name" placeholder="Yöneticiye iletmek istediğiniz sorunları ve mesajları buradan yazabilirsiniz..." class="text ui-widget-content ui-corner-all" style="width: 25rem;height: 10rem;padding: 1rem;" @bind="@mail.Body"></textarea>
<br/>
<br/>
<button id="messageSend" class="button" @onclick="SendMail">Gönder</button>

