@using Microsoft.AspNetCore.Authorization

@page "/counter"

@attribute [Authorize(Roles = "admin")]

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="Login">Click me</button>
<br />
<br />
<input type="email" class="form-control" id="inputEmail4" @bind-value="@Request.Body">
<br />
<br />
<button class="btn btn-primary" @onclick="mailtest">Send Mail</button>

test

<button class="btn btn-primary" @onclick="GetNotification">Bildirimleri getir</button>


@response